<!doctype html>
<html lang="en">
  <head>

    <title>Stock Ticker Milestone</title>

   
  </head>
  <body>
    <H1>Lowe Stock Ticker Milestone Project</H1>

      <form id='input' method='post' action='/stock' >
        <p>Ticker symbol: <input type='text' name='ticker' /></p>
        
        <p>
          Closing price <input type="checkbox" name='features' value='closing'><br>
          Adjusted closing price <input type="checkbox" name='features' value='adj_closing'><br>
          Opening price <input type="checkbox" name='features' value='Opening'><br>
          Adjusted opening price <input type="checkbox" name='features' value='adj_opening'><br>
          <input type='submit' value='Submit' /></p>
      </form>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
