<!doctype html>
<html lang="en">

<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>

</head>
<body>
<H1>Lowe Stock Ticker Milestone Project</H1>

      <form id='input' method='post' action='index' >
        <p>Ticker symbol: <input type='text' name='tick_str' /></p>
        
        <p>
          Closing price <input type="checkbox" name='features' value='closing'><br>
          Adjusted closing price <input type="checkbox" name='features' value='adj_closing'><br>
          Opening price <input type="checkbox" name='features' value='Opening'><br>
          Adjusted opening price <input type="checkbox" name='features' value='adj_opening'><br>
          <input type='submit' value='Submit' /></p>
      </form>


      {{ script|safe }}
      {{ div|safe }}

</body>
</html>