<!doctype html>
<html lang="en">

<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>

</head>
<body>
<H1>Lowe Stock Ticker Milestone Project</H1>

      <form id='homebutton' method='post' action='index' >
        <p>
          <input type='submit' value='Back' />
        </p>
      </form>

      <h1>Stock price for {{ ticker | safe }} </h1>

      {{ script|safe }}
      {{ div|safe }}

</body>
</html>